* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --win-color: rgb(0, 255, 85);
    --lose-color: rgb(196, 15, 15);
}

section {
    height: 100vh;
    background-color: darkslategrey;
    font-family: sans-serif;
    color: rgb(207, 202, 202);
}

.score {
    display: flex;  
    justify-content: space-around;
    text-align: center;
    align-items: center;
    height: 20vh;
    padding: 10px;
}

.choices {
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.choice {
    border: white 1px solid;
    border-radius: 50%;
    padding: 0.2em;
}

.choice {
    cursor: pointer;
}

.choice:hover {
    font-size: 10em;
}

.restart-container {
    text-align: center;
}

.restart {
    font-size: 3.5em;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.restart:hover {
    font-size: 4em;
}

/* .buttons {
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    border-radius: 50%;
    height: 80px;
    width: 80px;
} */

.round {
    height: 20vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
}

.computer-choose, .player-choose{
    padding: 20px;
}

.computer-choose {
    margin-top: 20px;
}

.text-win {
    color: var(--win-color);
}

.text-lose {
    color: var(--lose-color);
}

.text-tie {
    color: rgb(255, 230, 0)
}

.result {
    height: 10vh;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.round, .restart, .result {
    display: none;
}

.score p {
    font-size: 3em;
}
